.App {
  background: linear-gradient(
    0deg,
    rgba(253, 172, 0, 1) 0%,
    rgb(125, 255, 121) 40%,
    rgba(125, 255, 121, 1) 60%,
    rgba(24, 161, 203, 1) 100%
  );

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}